
#footer {
	background: #eaeaea;
	border-top: 1px solid #d6d6d6;
	padding: 38px 0;
	strong {
		font-family: $heading-type;
		font-weight: normal;
	}
	p {
		color: $dark-grey;
	}

}

.supporters {
	margin-bottom: 14px;
	background: $white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 64px;
	text-align: center;
	line-height: 64px;
	overflow: hidden;
}

.ico-cc {
	margin-bottom: 30px;
}