// Variables

$white: #FFFFFF;
$grey: #646464;
$dark-grey: #474747;
$yellow: #ffbf00;
$blue: #00c9b5;
$green: #b7d500;
$orange: #fe7400;
$primary-type: Helvetica, Arial, sans-serif;
$heading-type: 'Arvo', sans-serif;
$quote-type: 'Times New Roman', serif;