<nav class="navbar navbar-default" role="navigation" id="home">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-toggle" data-toggle="collapse" data-target="#nav-links-collapse"> <i
					class="fa fa-bars"></i> </a> <a class="navbar-logo" href="http://p2pu.org"> <img
				src="{{ site.baseurl }}/img/p2pu-logo.png" alt="P2PU Logo"> </a> <a class="p2pu-tab" href="#"> <i
				class="fa fa-chevron-down p2pu-tab-icon"></i> </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="nav-links-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="http://p2pu.org/en/our-work/">Our work</a>
				</li>
				<li class=" dropdown has-subnav">
					<a href="http://p2pu.org/en/about/">About</a>
					<span class="fa fa-caret-down dropdown-toggle visible-xs-block visible-sm-block"
					      data-toggle="dropdown"></span>
					<ul class="dropdown-menu nav navbar-nav subnav" role="menu">
						<li>
							<a href="http://p2pu.org/en/about/philosophy/"> Philosophy </a>
						</li>
						<li>
							<a href="http://p2pu.org/en/about/people/"> People </a>
						</li>
						<li>
							<a href="http://p2pu.org/en/about/credits/"> Credits and thanks </a>
						</li>
					</ul>
				</li>

				<li class="active dropdown has-subnav">
					<a href="http://p2pu.org/en/publications/roundtables/">Publications</a>
					<span class="fa fa-caret-down dropdown-toggle visible-xs-block visible-sm-block"
					      data-toggle="dropdown"></span>
					<ul class="dropdown-menu nav navbar-nav subnav" role="menu" data-spy="affix" data-offset-top="66">
						<li>
							<a href="http://p2pu.org/en/publications/roundtables/"> P2PU Roundtables </a>
						</li>
						<li>
							<a href="http://p2pu.org/en/publications/talks/"> Presentations </a>
						</li>
						<li class="active">
							<a href="http://p2pu.org/en/publications/reports/"> reports </a>
						</li>
						<li>
							<a href="http://info.p2pu.org"> blog </a>
						</li>
						<li>
							<a href="http://data.p2pu.org/" target="_blank"> data </a>
						</li>
					</ul>
				</li>

				<li class="">
					<a href="http://p2pu.org/en/connect/">Connect with us</a>
				</li>
				<li>
					<div class="donate-btn-wrap">
						<a class="donate" href="http://p2pu.org/en/donate/"
						   data-toggle="modal"
						   data-target="#donate-modal" onClick="_gaq.push(['_trackEvent', 'Donate', 'Press',
						   'User pressed donate button']);"> Donate </a>
					</div>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>