<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../js/jquery-1.10.1.min.js"><\/script>')</script>

<script src="{{ "/js/main.js"| prepend: site.baseurl }}"></script>
<script type="text/javascript"
        src="http://rawgithub.com/p2pu/p2pu_navigation_widget/master/p2pu_menu_slider.js"></script>
<script type="text/javascript">
	Reports.Show.init();
</script>

<script src="{{ "/js/bootstrap.js"| prepend: site.baseurl }}"></script>
<script src="{{ "/js/sharrre.js"| prepend: site.baseurl }}"></script>
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-5757664-14', 'p2pu.org');
	ga('send', 'pageview');

</script>