@font-face {
    font-family: 'Open sans';
    src: url('../css/fonts/OpenSans-Regular-webfont.eot');
    src: url('../css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../css/fonts/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arvo';
    src: url('../css/fonts/Arvo.woff') format('woff'),
         url('../css/fonts/Arvo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}