---
layout: default
---

<header id="header"
        style="background-image: url('{{ site.baseurl }}/img/content/{{ page.featured-image }}');">
	<div class="container relative">
		<span class="header-logo">P2PU</span>

		<h2>{{ page.headline }}</h2>
		{% if page.subheading %}
			<br />
			<span class="h1-school-sub1">{{ page.subheading }}</span>
		{% endif %}
		{% if page.author %}
			<span class="h1-school-sub2">By {{ page.author }}</span>
		{% endif %}
		{% if page.featured-image-contrib %}
			<span class="header-tag">{{ page.featured-image-contrib }}</span>
		{% endif %}
		<div class="page-social">
			{% include social.html %}
		</div>
	</div>
</header>
<div class="container markdown">
		{{ content }}

	<hr />
	<h5>You are invited to share this report</h5>
	<div class="page-social-bottom clearfix pull-left">
		{% include social.html %}
	</div>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
		$('.twitter').sharrre({
			share: {
				twitter: true
			},
			enableHover: false,
			enableTracking: true,
			buttons: { twitter: {via: 'p2pu'}},
			click: function (api, options) {
				api.simulateClick();
				api.openPopup('twitter');
			}
		});
		$('.facebook').sharrre({
			share: {
				facebook: true
			},
			enableHover: false,
			enableTracking: true,
			click: function (api, options) {
				api.simulateClick();
				api.openPopup('facebook');
			}
		});
		$('.pinterest').sharrre({
			share: {
				pinterest: true
			},
			buttons: {
				pinterest: {
					media: 'http://reports.p2pu.org/img/content/{{ page.featured-image }}',
					description: '{{ page.description }}'
				}
			},
			enableHover: false,
			click: function (api, options) {
				api.simulateClick();
				api.openPopup('pinterest');
			}
		});
		$('.googlePlus').sharrre({
			share: {
				googlePlus: true
			},
			enableHover: false,
			urlCurl:"",
			click: function (api, options) {
				api.simulateClick();
				api.openPopup('googlePlus');
			}
		});
		$('.linkedin').sharrre({
			share: {
				linkedin: true
			},
			enableHover: false,
			urlCurl:"",
			click: function (api, options) {
				api.simulateClick();
				api.openPopup('linkedin');
			}
		});
	});
</script>

